{% extends 'index.html' %}
{% load static %}
{% block title %}True Feedback{% endblock %}

{% block content %}
<div class="centered-content">
    <h1>Dive into the World of Anonymous Feedback</h1>
    <p>True Feedback - Where your identity remains a secret.</p>

    <div class="section mt-5">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="custom-card">
                        <h2 class="heading">Message from SecretAdmirer</h2>
                        <p class="message">Hey, how are you doing today?</p>
                        <span class="timestamp">10 minutes ago</span>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="custom-card">
                        <h2 class="heading">Message from User123</h2>
                        <p class="message">Hey, how are you doing today?</p>
                        <span class="timestamp">10 minutes ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Toast -->


{% endblock %}